/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background{
	-fx-background-color:#E9EAEB;
}
#startandstop{
	-fx-background-radius:50;
}
.startbutton{
	-fx-background-color:#3AF24B;
	
}
#startandstop:hover{
	-fx-opacity:0.7;
	-fx-cursor:pointer;
}

.stopbutton{
	-fx-background-color:#E10303;
}

#buttonplus{
	-fx-background-color:#008AFC;
	-fx-padding: 2 15;
	-fx-text-fill:white;
}
#buttonmoins{
	-fx-background-color:#0ACDF8;
	-fx-padding: 2 16;
	-fx-text-fill:white;
}
#affichagetempo{
	-fx-background-color:#C6C9CB;
	-fx-border-color:black; 
	-fx-border-width: 1;
	-fx-text-fill:green;
	-fx-font-size:35.0;
}
#affichagetpparmesure{
	-fx-background-color:#C6C9CB;
	-fx-text-fill:white;
	-fx-font-size:25.0;
}
#ledgauche{
	-fx-fill:#F8810A;
}
#leddroite{
	-fx-fill:#E00AF8;
}